# ROS 2 Build Artifacts
build/
install/
log/

# VS Code Metadata
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
thumbs.db

# Gazebo log files (if any are saved locally)
~/.gz/