<?xml version="1.0"?>
  <model>
    <name>QArm_Gripper</name>
    <version>1.0</version>
    <sdf>urdf/qarm_gripper.urdf</sdf>
    <author>
      <name>Quanser</name>
      <email>tech@quanser.com</email>
    </author>
    <description>
      A description of QArm Gripper
    </description>
  </model>
